.avatar {grid-area: avatar}

.avatar {
  display: flex;
  margin: 20px;
  padding: 10px;
  background-color: rgba(196, 202, 202, 0.247);
  max-height: 1000px;
}

.avatar img {
  margin: 10px;
  width: 240px;
  height: 320px;
  border: 1px solid black;
}

