.cont_wall {grid-area: wall}

.cont_wall {
  margin: 20px;
  background-color: rgba(196, 202, 202, 0.247);

}

.input_post {
  margin: 10px;
  width: 460px;
  height: 42px;
  border-radius: 5px;
}

.button {
  margin: 10px;
}

h2 {
  margin: 10px;
}