
.mes {
  height: 100%;
  background-color: rgba(196, 202, 202, 0.247);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  
}

.messages {
  width: 500px;
  min-height: 700px;
  overflow-y: hidden;
  /* border: 1px solid black; */
  background-color: rgba(144, 160, 160, 0.247);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 10px;
  
}

input {
  width: 470px;  
  height: 40px;
  border-radius: 10px;

}


.block_button {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: darkslategray;
  padding: 10px;
  max-width: ;
  
}

.block_message {
  height: 600px;
  overflow: auto;

}