.cont_wall {grid-area: wall}

.cont_wall {
  margin: 20px;
  background-color: rgba(196, 202, 202, 0.247);

}

/* textarea {
  margin: 10px;
  width: 990px;
  height: 180px;
} */

.button {
  margin: 10px;
}

h2 {
  margin: 10px;
}